*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 50px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #000000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 23px;
    line-height: 23px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked1.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}
ul li.checked{
    color: #000000;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #000000;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #fff;
}

/* Background Options Button */
.flexrow-container {
    flex-direction: row;
    margin-right: 7%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.theme-selector {
    border: 1px solid #d1dae3;
    border-radius: 100%;
    height: 35px;
    margin: 0 8px;
    width: 35px;
}

.theme-selector:hover { 
    box-shadow: white 0 0 8px;
    cursor: pointer;
}

.theme-selector:active {
    transform: scale(0.95);
}

.standard-theme {
    background-image: linear-gradient(100deg, #a54e7b, #c9a42a, #a54e7b);
}

.light-theme {
    background-image: linear-gradient(100deg, #83caed, #ffffff, #83caed);
}

.darker-theme {
    background-image: linear-gradient(30deg, #114837, #1f1137, #114837, #1f1137);
}
/* End Background Options Button */

/* Background Options */
.standard {
    background-image: linear-gradient(100deg, #a54e7b, #c9a42a, #a54e7b);
    color: #000000;
    transition: 0.3s linear;
    overflow: hidden;
}

.light {
    background-image: linear-gradient(100deg, #83caed, #ffffff, #83caed);
    color: #1a150e;
    transition: 0.3s linear;
    overflow: hidden;
}

.darker {
    background-image: linear-gradient(30deg, #114837, #1f1137, #114837, #1f1137);
    color: white;
    transition: 0.3s linear;
    overflow: hidden;
}
/* End Background Options */

